/*
Style Name: Astro Digital
Author: 
Version: 1.1
*/

/*can be modified - image widows */ 

.hidden {
    display: none;
}

img {

    widows: 50%;
}

/* CSS Document */
/*------------------
 1- Global
 2- HOME
 3- CONTACT
 4- FEATURE
 5- INDEX
 6- ABOUT
 -------------------*/

 /*______________________
----------Global ---------*/